<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.profil.smpnegeri3kotategal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMPNEGERI3KOTATEGAL">
        <activity
            android:name="com.profil.smpnegeri3kotategal.FacebookActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri3kotategal.EdukasiActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri3kotategal.RaportActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri3kotategal.LombaPbbActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri3kotategal.StudyTourActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri3kotategal.KarnavalActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri3kotategal.DrumBandActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri3kotategal.HariKartiniActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri3kotategal.KemahActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri3kotategal.Buku9Activity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri3kotategal.Buku8Activity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri3kotategal.Buku7Activity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri3kotategal.BasketActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri3kotategal.VollyActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri3kotategal.PmrActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri3kotategal.KarateActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri3kotategal.FutsalActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri3kotategal.PramukaActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri3kotategal.GaleriActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri3kotategal.EkskulActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri3kotategal.PerpusActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri3kotategal.FasilitasActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri3kotategal.GuruActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri3kotategal.ProfilActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri3kotategal.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri3kotategal.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>